<!DOCTYPE html>
<html lang="en">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>500</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary menu">
            <h2 class="ui teal header item">MyBlog</h2>
            <a href="#" class="item"><i class="home icon"></i>首页</a>
            <a href="#" class="item"><i class="idea icon"></i>分类</a>
            <a href="#" class="item"><i class="tags icon"></i>标签</a>
            <a href="#" class="item"><i class="clone icon"></i>归档</a>
            <a href="#" class="item"><i class="info icon"></i>关于我</a>
            <div class="right item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search....">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>

</nav>
<br>
<br>
<br>

<div class="m-container-small m-padded-tb-massive">
    <div class="ui error message m-padded-tb-huge" >
        <div class="ui contianer">
            <h2>500</h2>
            <p>对不起，服务异常，请联系管理员</p>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<!--底部-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided grid">
            <div class="three wide column">
                <img src="../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 100px">
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">最新的博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email:mo_88375@qq.com</a>
                    <a href="#" class="item">QQ:2956396068</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Blog</h4>
                <p>个人博客，分享写作，技术，思考相关的内容，希望可以给来到这的人有所帮助...</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p>Copyright @ 2022-2023 Xxh Designed by Xxh</p>
    </div>
</footer>